@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	font-family: 'Lato', serif;
}

html {
	@apply bg-white text-black dark:bg-zinc-900 dark:text-white;
}

.disabled {
	@apply opacity-50;
}

button:disabled {
	@apply disabled;
}

button {
	@apply flex flex-row items-center;
}

.hover-bg {
	@apply hover:bg-white/10;
}

.common-button {
	@apply hover-bg gap-1 rounded p-2;
}

.overflow-and-ellipsis {
	@apply block w-full overflow-hidden text-ellipsis whitespace-nowrap;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 0.75rem;
	height: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #27272b;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4e4e52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6e6e71;
}

::-webkit-scrollbar-corner {
	background: 27272b;
}
