/** Light color-scheme **/
.cc--darkmode {
	--cc-bg: var(--color-zinc-900);
	--cc-primary-color: var(--color-white);
	--cc-secondary-color: color-mix(
		in oklab,
		var(--color-white) /* #fff = #ffffff */ 50%,
		transparent
	);

	--cc-btn-primary-bg: var(--color-blue-500);
	--cc-btn-primary-color: var(--cc-primary-color);
	--cc-btn-primary-border-color: var(--cc-btn-primary-bg);
	--cc-btn-primary-hover-bg: var(--color-blue-600);
	--cc-btn-primary-hover-color: var(--cc-primary-color);
	--cc-btn-primary-hover-border-color: transparent;

	--cc-btn-secondary-bg: transparent;
	--cc-btn-secondary-color: var(--cc-primary-color);
	--cc-btn-secondary-border-color: transparent;
	--cc-btn-secondary-hover-bg: color-mix(
		in oklab,
		var(--color-white) /* #fff = #ffffff */ 10%,
		transparent
	);
	--cc-btn-secondary-hover-color: #ffffff;
	--cc-btn-secondary-hover-border-color: transparent;
	--cc-separator-border-color: #222a30;

	--cc-toggle-on-bg: var(--cc-btn-primary-bg);
	--cc-toggle-off-bg: #525f6b;
	--cc-toggle-on-knob-bg: var(--cc-btn-primary-color);
	--cc-toggle-off-knob-bg: var(--cc-btn-primary-color);

	/* yes (v tick) */
	--cc-toggle-enabled-icon-color: var(--cc-btn-primary-color);
	/* no (x tick) */
	--cc-toggle-disabled-icon-color: var(--cc-btn-primary-color);

	--cc-toggle-readonly-bg: #343e45;
	--cc-toggle-readonly-knob-bg: #5f6b72;
	--cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);

	--cc-section-category-border: #1e2428;

	--cc-cookie-category-block-bg: #1e2428;
	--cc-cookie-category-block-border: var(--cc-section-category-border);
	--cc-cookie-category-block-hover-bg: #242c31;
	--cc-cookie-category-block-hover-border: #232a2f;
	--cc-cookie-category-expanded-block-bg: transparent;
	--cc-cookie-category-expanded-block-hover-bg: var(--cc-toggle-readonly-bg);

	--cc-overlay-bg: rgba(0, 0, 0, 0.65);
	--cc-webkit-scrollbar-bg: var(--cc-section-category-border);
	--cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);

	--cc-footer-bg: #0c0e0f;
	--cc-footer-color: var(--cc-secondary-color);
	--cc-footer-border-color: #060809;
}

.cc--darkmode #cc-main {
	color-scheme: dark;
}
