:root {
	--cc-font-family: inherit;
	--cc-modal-border-radius: 0.5rem;
	--cc-btn-border-radius: 0.4rem;
	--cc-modal-transition-duration: 0.25s;
	--cc-link-color: var(--cc-btn-primary-bg);
	--cc-modal-margin: 1rem;
	--cc-z-index: 2147483647;
}

/** Light color-scheme **/
.cc--darkmode {
	--cc-bg: var(--color-zinc-800);
	--cc-primary-color: var(--color-white);
	--cc-secondary-color: color-mix(in oklab, var(--color-white) 50%, transparent);

	--cc-btn-primary-bg: var(--color-blue-500);
	--cc-btn-primary-color: var(--cc-primary-color);
	--cc-btn-primary-border-color: var(--cc-btn-primary-bg);
	--cc-btn-primary-hover-bg: var(--color-blue-600);
	--cc-btn-primary-hover-color: var(--cc-primary-color);
	--cc-btn-primary-hover-border-color: transparent;

	--cc-btn-secondary-bg: transparent;
	--cc-btn-secondary-color: var(--cc-primary-color);
	--cc-btn-secondary-border-color: transparent;
	--cc-btn-secondary-hover-bg: color-mix(in oklab, var(--color-white) 10%, transparent);
	--cc-btn-secondary-hover-color: var(--cc-primary-color);
	--cc-btn-secondary-hover-border-color: transparent;
	--cc-separator-border-color: color-mix(in oklab, var(--color-white) 10%, transparent);

	--cc-toggle-on-bg: var(--cc-btn-primary-bg);
	--cc-toggle-off-bg: color-mix(in oklab, var(--color-white) 10%, transparent);
	--cc-toggle-on-knob-bg: var(--cc-btn-primary-color);
	--cc-toggle-off-knob-bg: var(--cc-btn-primary-color);

	/* yes (v tick) */
	--cc-toggle-enabled-icon-color: var(--cc-btn-primary-color);
	/* no (x tick) */
	--cc-toggle-disabled-icon-color: var(--color-zinc-900);

	--cc-toggle-readonly-bg: color-mix(in oklab, var(--color-white) 10%, transparent);
	--cc-toggle-readonly-knob-bg: color-mix(in oklab, var(--color-white) 50%, transparent);
	--cc-toggle-readonly-knob-icon-color: color-mix(in oklab, var(--color-white) 50%, transparent);

	--cc-section-category-border: color-mix(in oklab, var(--color-white) 10%, transparent);

	--cc-cookie-category-block-bg: transparent;
	--cc-cookie-category-block-border: var(--cc-section-category-border);
	--cc-cookie-category-block-hover-bg: color-mix(in oklab, var(--color-white) 10%, transparent);
	--cc-cookie-category-block-hover-border: var(--cc-section-category-border);
	--cc-cookie-category-expanded-block-bg: transparent;
	--cc-cookie-category-expanded-block-hover-bg: var(--cc-toggle-readonly-bg);

	--cc-overlay-bg: transparent;
	--cc-webkit-scrollbar-bg: var(--cc-section-category-border);
	--cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);

	--cc-footer-bg: var(--color-zinc-900);
	--cc-footer-color: var(--cc-secondary-color);
	--cc-footer-border-color: var(--color-black);
}

.cc--darkmode #cc-main {
	color-scheme: dark;
}
